*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
img{
    position: absolute;
 width: 100%;
 height: 100%;
 opacity: 50%;
 
}
.container{
    width: 50%;
    height: 50%;
    background-color: rgb(236, 79, 202);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    z-index: 3;
}
.container h2{
    font-size: 35px;
    margin-top: 8px;
    text-transform: uppercase;
    color: rgb(136, 5, 250);
}
.container form input{
    width: 250px;
    height: 30px;
}
.container form label{
    font-size: 25px;
    color: rgb(10, 10, 10);
}
.container form select{
    margin-left: 10%;
    margin-top: 5px;
    width: 35px;
    height: 25px;
}
.container form button{
    width: 100%;
    margin-top: 30px;
    height: 30px;
    background-color: rgb(76, 187, 76);
    border-radius: 25px;
    cursor: pointer;
}